body {
  /* align-items: center; */
  max-width: 72ch;
  margin: auto auto;
}

p {
  /* text-align: left; */
}

#quotedisplay {
  height: 40vh;
}

iframe {
  max-width: 72ch;
  width: 80vw;
  height: 50vh;
}
